
<div *ngIf="testStatistics" class="testStatBlock">

  <h3 *ngIf="!testStatistics.length">No tests yet</h3>

  <div *ngFor="let stat of testStatistics" class="singleTestStat">
    <h4>{{stat.Test.Title}}</h4>
    <p>Date:  {{stat.StartTime | date:'MMM d, y'}}</p>
    <p>Start time: {{stat.StartTime | date:'h:mm:ss'}}</p>
    <p>EndTime: {{stat.EndTime | date:'h:mm:ss'}}</p>
    <p>Result: {{stat.Result}}%</p>
    <button class="btn btn-default"
            routerLink="extended/{{stat.Id}}/{{stat.TestId}}">Show details</button>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>

</div>